@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.container-home{
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 50px;
    
    
}
.content-home{
    display: inline-flex;
}
.texto1{
    color: white;
}
.bloco1 img{
    height: 440px;
    width: 840px;
}

.bloco2{
    
    width: 100%;
    display: block;
    margin-top: 50px;
}
.bloco2 p{
    text-align: center;
    
}
.texto2{
   
    color: white;
    font-family: 'Roboto', sans-serif;
}
.teste{
    width:600px;
    height: 200px;
    margin: auto;
    margin-top: 100px;
    
}
.bloco4{
    
    width: 100%;
    
    
}
.bloco4 img{
    
    width: 200px;
    margin: auto;
    display: block;
    
}


